.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 60px 1fr;
    gap: 1px 1px;
    font-size: 40px;
    text-align: center;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    margin: auto;
    width: 35%;
    grid-template-areas: "TIME TIME TIME TIME""SESSION SESSION TIMe TIMe""sessionTime sessionTime breakTime breakTime""but1 but2 but3 but4""but5 but5 but5 but5";
}
h1 {
    text-align: center;
    color: #00C9C8;
    font-size: 30px;
}
body {
    background-color: #2A272A;
    font-family: 'Audiowide', cursive;
    color: #00C9C8;
}
.TIME {
    grid-area: TIME;
    background-color: #000000;
    border-radius: 25px;
    border: 3px solid #47817F;
}

.SESSION {
    grid-area: SESSION;
    background-color: #000000;
    border-radius: 25px;
    border: 3px solid #47817F;
}

.TIMe {
    grid-area: TIMe;
    background-color: #000000;
    border-radius: 25px;
    border: 3px solid #47817F;
}

.sessionTime {
    grid-area: sessionTime;
    background-color: #000000;
    border-radius: 25px;
    border: 3px solid #47817F;
}

.breakTime {
    grid-area: breakTime;
    background-color: #000000;
    border-radius: 25px;
    border: 3px solid #47817F;
}

.but1 {
    grid-area: but1;
    height: 20vh;
    
}

.but1:hover {
    cursor: pointer;
    filter: invert(67%) sepia(41%) saturate(7247%) hue-rotate(159deg) brightness(91%) contrast(101%);
}

.but2 {
    grid-area: but2;
    height: 20vh;
}

.but2:hover {
    cursor: pointer;
    filter: invert(67%) sepia(41%) saturate(7247%) hue-rotate(159deg) brightness(91%) contrast(101%);
}

.but3 {
    grid-area: but3;
    height: 20vh;
}

.but3:hover {
    cursor: pointer;
    filter: invert(67%) sepia(41%) saturate(7247%) hue-rotate(159deg) brightness(91%) contrast(101%);
}

.but4 {
    grid-area: but4;
    height: 20vh;
}

.but4:hover {
    cursor: pointer;
    filter: invert(67%) sepia(41%) saturate(7247%) hue-rotate(159deg) brightness(91%) contrast(101%);
}

.but5 {
    grid-area: but5;
}

.but5:hover {
    cursor: pointer;
    filter: invert(34%) sepia(54%) saturate(5036%) hue-rotate(342deg) brightness(102%) contrast(107%);
}